@import "tailwindcss";

@theme {
  --color-atlas-cream: #EAEAE5;
  --color-atlas-black: #050505;
}

:root {
  --background: var(--color-atlas-cream);
  --foreground: var(--color-atlas-black);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}